
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>-->



</head>

<body>

<!--<div class="container">-->
<!--    <h1>Customer Table</h1>-->
<!--    <div class="row col-md-7 table-responsive">-->
<!--        <table id="customerTable" class="table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Name</th>-->
<!--                <th>Age</th>-->
<!--                <th>Salary</th>-->
<!--                <th>Postcode</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="employee: ${employees}">-->
<!--                <td th:text="${employee.id}">1</td>-->
<!--                <td th:text="${employee.employee_name}"></td>-->
<!--                <td th:text="${employee.employee_age}"></td>-->
<!--                <td th:text="${employee.employee_salary}"></td>-->
<!--                <td th:text="${employee.getRole()}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>

